@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lato {
  font-family: "lato";
  src: url(/fonts/lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "office code pro";
  src: url("/fonts/office-code-pro/OfficeCodePro-Regular.eot");
  src: url("/fonts/office-code-pro/OfficeCodePro-Regular.woff2") format("woff2"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.woff") format("woff"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.ttf") format("truetype"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-lato {
  font-family: "lato";
  src: url(/fonts/lato/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

.font-lato {
  font-family: "lato";
  src: url(/fonts/lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* mono font */

@font-face {
  font-family: "office code pro";
  src: url("/fonts/office-code-pro/OfficeCodePro-Regular.eot");
  src: url("/fonts/office-code-pro/OfficeCodePro-Regular.woff2") format("woff2"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.woff") format("woff"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.ttf") format("truetype"),
    url("/fonts/office-code-pro/OfficeCodePro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
